*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}


.nav,
.container-one,
.footer{
    background-color: #1f2937;

}
.hero-text{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8

}
.secondary-text{
    color: #e5e7eb;
    font-size: 18px;

}
.img-text {
    color: slategrey;
    font-size: 16px;
}
.button-base {
    background-color: #3882F6;
    color: white;
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    border-radius: 5px;
    border: none;

}
.border{    
    border:2px solid #e5e7eb;
}

.nav{
    padding: 10px 110px 10px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;

}
.container-one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px;
}
.hero-one{
    padding: 40px;
    flex: 1 1 auto;
}
.hero-two {
    padding: 40px;
    flex: 1 1 auto;
}

.title{
    font-size: 36px;
    color: #1F2937;
    font-weight: extra-bold;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-two {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.widget{
    width: 200px;
    justify-content: center;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    
}

.image-box {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 3px solid #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    
}
.container-three{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}
.quote-box {
    width: 800px;
    padding: 70px;

}
.quote {
    text-align: left;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}
.author {
    text-align: right;
    font-size: 20px;
    color: #1F2937;
    font-weight: bold;

}
.container-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
.two-boxes{
    display: flex;
    width: 700px;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 40px;
}
.action{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.sign-up{
    font-size: 16px;
    color: #e5e7eb;
}
.footer{
    padding: 40px;
    text-align: center;

}